---
title: "\"In-Depth GoPro Hero5 Testing Report\""
date: 2024-07-27T04:47:21.953Z
updated: 2024-07-28T04:47:21.953Z
tags: 
  - screen-recording
  - ai video
  - ai audio
  - ai auto
categories: 
  - ai
  - screen
description: "\"This Article Describes In-Depth GoPro Hero5 Testing Report\""
excerpt: "\"This Article Describes In-Depth GoPro Hero5 Testing Report\""
keywords: "GoPro Hero5 Review,Hero5 Camera Test,Hero5 Performance,GoPro Hero5 Analysis,Hero5 Waterproof Testing,GoPro Hero5 Features,Hero5 Video Quality"
thumbnail: https://thmb.techidaily.com/a7b063e2c5f1e938dc6e32e2ce85c52239dfc8e7739a5c0ead2c07ab91e735b6.png
---

## In-Depth GoPro Hero5 Testing Report

# GoPro Hero5 Session Review

![author avatar](https://images.wondershare.com/filmora/article-images/max-wales-author.jpg)

##### Max Wales

 Mar 27, 2024• Proven solutions

 If you are in search of action cameras then [GoPro](https://tools.techidaily.com/wondershare/filmora/download/) is best brand for you. It offers high tech cameras with all amazing features and variable price ranges so you can easily find one that suits your needs. GoPro Hero5 Session camera is rated as one of the best devices with reasonable price range; so it is good to check few awesome details about this device.

 Want to know which GoPro to buy? Here is a [complete comparison >>](https://tools.techidaily.com/wondershare/filmora/download/)

**You may also like:** [Top 15 Best Action Cameras >>](https://tools.techidaily.com/wondershare/filmora/download/)

 It is a light weight, small size device with cube shape design that can shoot highly stabilized videos even with 4k resolution. With payment of $299.99, you can avail 4k recording abilities along 1080p at 90fps, 720p at 120fps. If this device is little above then your budget then you can also look for [GoPro Hero4 session](https://tools.techidaily.com/wondershare/filmora/download/) that is the previous version and will be priced $100 less than that of Hero5 session. If your budget is on higher side then prefer to buy [Hero5 Black](https://tools.techidaily.com/wondershare/filmora/download/) that is priced at $399.99 with all amazing features.

 See [Hero Session 5 VS Hero Session 4 >>.](https://tools.techidaily.com/wondershare/filmora/download/)

[For most of action camera lovers Hero5 session will be the best choice so below you will get some of the essential details about your favorite device:](https://tools.techidaily.com/wondershare/filmora/download/)

<!-- affiliate ads begin -->
<a href="https://secure.2checkout.com/order/checkout.php?PRODS=4708689&QTY=1&AFFILIATE=108875&CART=1"><img src="https://www.epubor.com/images/uppic/audible-converter-interface.png" border="0">Epubor Audible Converter for Win： Download and convert Audible AAXC/AA/AAX to MP3 with 100% original quality preserved.</a>
<!-- affiliate ads end -->
## [Specs Table:](https://tools.techidaily.com/wondershare/filmora/download/)

| **Product Name**                                                            | GoPro Hero5 Session                                                    |                      |                             |
| --------------------------------------------------------------------------- | ---------------------------------------------------------------------- | -------------------- | --------------------------- |
| **Manufacture**                                                             | GoPro (USA)                                                            |                      |                             |
| **Date available**                                                          | 2 October 2016                                                         |                      |                             |
| **Price:**                                                                  | Official:$299                                                          |                      |                             |
| **Basic Specification**                                                     |                                                                        |                      |                             |
| **Parameters**                                                              | **Details**                                                            | **Parameters**       | **Details**                 |
| **Weight**                                                                  | 73g only                                                               | **Shape**            | Box                         |
| **Memory**                                                                  | SDXC cards with 128GB storage and Micro SD (Class 10)                  | **Dimensions**       | 38x38x36mm                  |
| **Battery**                                                                 | 1000mAh (with 4K resolution it offers 1 hour 40 minute recording time) | **Waterproof**       | 10 meters (without housing) |
| **Image resolution**                                                        | Up to 10mp                                                             | **Video resolution** | Up to 4k at30fps            |
| **Display**                                                                 | No                                                                     | **Modes**            | WIFI and Bluetooth          |
| **Other Features**                                                          | Voice Control                                                          |                      |                             |
| Advanced Digital video stabilization                                        |                                                                        |                      |                             |
| Simple one-button type control                                              |                                                                        |                      |                             |
| ultra wide, Super view, narrow, medium as well as new linear field of views |                                                                        |                      |                             |
| Advanced reduction capability towards wind-noise                            |                                                                        |                      |                             |
| Auto image rotation facility                                                |                                                                        |                      |                             |
| Auto low-light mode available                                               |                                                                        |                      |                             |
| Time lapse video can be generated                                           |                                                                        |                      |                             |

## [Pros and Cons:](https://tools.techidaily.com/wondershare/filmora/download/)

| **Pros**                                              | **Cons**                               |
| ----------------------------------------------------- | -------------------------------------- |
| Voice commands show amazing results                   | No RAW or WDR support for still images |
| Excellent video quality                               | Non-removable type battery             |
| Advanced Digital image stabilization feature included | GPS facility is not available          |
| Sensitive dual microphones are available              | No viewfinder                          |
| Waterproof (10m without case)                         | \-                                     |
| Compact size                                          | \-                                     |

## [Complete Review](https://tools.techidaily.com/wondershare/filmora/download/)

#### [What is inside the Box?](https://tools.techidaily.com/wondershare/filmora/download/)

[If you are ready to buy GoPro Hero5 session Camera then you can expect following things with your device when you will unbox it:](https://tools.techidaily.com/wondershare/filmora/download/)

* [The box will have one standard frame.](https://tools.techidaily.com/wondershare/filmora/download/)
* [It comes with flat as well as curved adhesive mounts that allows users to capture scenes in all difficult locations.](https://tools.techidaily.com/wondershare/filmora/download/)
* [Mounting Buckle will be included.](https://tools.techidaily.com/wondershare/filmora/download/)
* [USB-C cable is added.](https://tools.techidaily.com/wondershare/filmora/download/)
* [Some video samples will be available.](https://tools.techidaily.com/wondershare/filmora/download/)

[Check at Amazon](https://www.amazon.com/gp/product/B01LZTLCFX/ref=as%5Fli%5Ftl?ie=UTF8&tag=vs-flora-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B01LZTLCFX&linkId=ea1830f57bf7ee4f930b77258f8b3654
)

#### Design and Accessories

 The highlights related to design and accessories can be presented as:

* 38mm or 1.5” cube shaped design helps users in obstructive mounting.
* This device provides impressive results when connected to GoPro Karma Drone.
* It is waterproof up to 10m or 33 feet.
* USB-C charging facility is available but battery is fixed.

 The GoPro camera units are well known for their well shaped rectangular design but this session camera was launched with attractive cube shape. With just a single easy to operate button you can easily start and stop recording whereas tiny LCD panel helps to view recording on the go. This structure is less complicated and users can even change settings to preferable mode from Android or iOS device.

#### Video and Photo Quality

 Few highlights are:

* It serves with 4K resolution for videos.
* This device is designed with total five fields of view where 3 of these are introductory.
* 10MP stills can be captured at 30fps frame rate.

 With all pretty features, GoPro Hero5 Session provides 4K resolutions at 30fps rate whereas this rate can be increased up to 90fps in case of 1080p recording. You will be glad to know about its advanced digital stabilization feature and the most exciting part is its vibration mode that gets automatically switched On when you are about the start the camera or when you switch recording Off. You can also switch off the vibrations at the time of video recording to capture much smoother details. Even if you want to capture videos while riding a cycle then also this camera can result in breathtaking view because it possesses advanced wind noise reduction ability.

 Users are excited about its several field of view modes that are: Medium, Wide, Narrow, Linear and Super view. You will be surprised to know that this small camera unit can record videos in super view mode so that you can avail extra wide coverage. One more appreciable feature is its low light video shooting mode that can provide satisfactory results with perfect video quality support.

#### Connectivity and Apps

 Some of the incredible connectivity options along with app supports are discussed as below:

 **Wi-Fi:**

 This latest camera from GoPro is designed to serve users with active Wi-Fi and Bluetooth support. Users can also connect it with iOS and Android device using GoPro Capture Application that activates remote control feature. With this type of connectivity you can also adjust camera settings directly from your phone that means a live view of camera screen will be generated on your mobile device.

 **GoPro Plus:**

 This name is given to a latest cloud based subscription of GoPro series so that users can publish their recorded videos directly on internet. Whenever you plug-in your Hero5 devices whether it is session or black, this cloud based application will allow you to access photo or video uploading facility instantly. It makes use of Home Wi-Fi network to enable this uploading. After this your footage will get stored on GoPro Plus account and it can be easily accessed from official website of GoPro. These uploaded videos will also be accessible on mobile devices as well as on desktop with the help of Quick application.

 **Quick:**

 This application is designed for Mobile as well as desktop users and allows fast as well as efficient editing features for all recorded videos. Users simply need to select highlights and then they can be easily edited to embed music into them or just to cut or trim to match certain timing requirements. The content that is stored on GoPro Account can also be accessed from quick App on portable devices.

**Note** that Users can also try GoPro Plus application for two months without making any payment as manufacturers have provided a free trial version whereas for complete feature access you need to pay $5 per month.

## The Bottom Line

 Some of you may say that GroPro Hero5 Session is not having all fancy features but it is one of the most widely purchases action camera unit in market. This is simply the best device at reasonable price range and the video as well as image quality is amazing. The cube shape of this device is really attractive with tiny body that you can carry anywhere with ease. It is time to order your Hero5 session device online and soon you will be able to record your all adventurous trips with awesome capture quality. The waterproof and damage proof construction is itself an edge over all competing devices.

<!-- affiliate ads begin -->
<a href="https://homestyler.sjv.io/c/5597632/2044747/22993" target="_top" id="2044747"><img src="//a.impactradius-go.com/display-ad/22993-2044747" border="0" alt="" width="300" height="250"/></a><img height="0" width="0" src="https://imp.pxf.io/i/5597632/2044747/22993" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->
![author avatar](https://images.wondershare.com/filmora/article-images/max-wales-author.jpg)

Max Wales

Max Wales is a writer and a lover of all things video.

Follow @Max Wales

##### Max Wales

 Mar 27, 2024• Proven solutions

 If you are in search of action cameras then [GoPro](https://tools.techidaily.com/wondershare/filmora/download/) is best brand for you. It offers high tech cameras with all amazing features and variable price ranges so you can easily find one that suits your needs. GoPro Hero5 Session camera is rated as one of the best devices with reasonable price range; so it is good to check few awesome details about this device.

 Want to know which GoPro to buy? Here is a [complete comparison >>](https://tools.techidaily.com/wondershare/filmora/download/)

**You may also like:** [Top 15 Best Action Cameras >>](https://tools.techidaily.com/wondershare/filmora/download/)

 It is a light weight, small size device with cube shape design that can shoot highly stabilized videos even with 4k resolution. With payment of $299.99, you can avail 4k recording abilities along 1080p at 90fps, 720p at 120fps. If this device is little above then your budget then you can also look for [GoPro Hero4 session](https://tools.techidaily.com/wondershare/filmora/download/) that is the previous version and will be priced $100 less than that of Hero5 session. If your budget is on higher side then prefer to buy [Hero5 Black](https://tools.techidaily.com/wondershare/filmora/download/) that is priced at $399.99 with all amazing features.

 See [Hero Session 5 VS Hero Session 4 >>.](https://tools.techidaily.com/wondershare/filmora/download/)

[For most of action camera lovers Hero5 session will be the best choice so below you will get some of the essential details about your favorite device:](https://tools.techidaily.com/wondershare/filmora/download/)

## [Specs Table:](https://tools.techidaily.com/wondershare/filmora/download/)

| **Product Name**                                                            | GoPro Hero5 Session                                                    |                      |                             |
| --------------------------------------------------------------------------- | ---------------------------------------------------------------------- | -------------------- | --------------------------- |
| **Manufacture**                                                             | GoPro (USA)                                                            |                      |                             |
| **Date available**                                                          | 2 October 2016                                                         |                      |                             |
| **Price:**                                                                  | Official:$299                                                          |                      |                             |
| **Basic Specification**                                                     |                                                                        |                      |                             |
| **Parameters**                                                              | **Details**                                                            | **Parameters**       | **Details**                 |
| **Weight**                                                                  | 73g only                                                               | **Shape**            | Box                         |
| **Memory**                                                                  | SDXC cards with 128GB storage and Micro SD (Class 10)                  | **Dimensions**       | 38x38x36mm                  |
| **Battery**                                                                 | 1000mAh (with 4K resolution it offers 1 hour 40 minute recording time) | **Waterproof**       | 10 meters (without housing) |
| **Image resolution**                                                        | Up to 10mp                                                             | **Video resolution** | Up to 4k at30fps            |
| **Display**                                                                 | No                                                                     | **Modes**            | WIFI and Bluetooth          |
| **Other Features**                                                          | Voice Control                                                          |                      |                             |
| Advanced Digital video stabilization                                        |                                                                        |                      |                             |
| Simple one-button type control                                              |                                                                        |                      |                             |
| ultra wide, Super view, narrow, medium as well as new linear field of views |                                                                        |                      |                             |
| Advanced reduction capability towards wind-noise                            |                                                                        |                      |                             |
| Auto image rotation facility                                                |                                                                        |                      |                             |
| Auto low-light mode available                                               |                                                                        |                      |                             |
| Time lapse video can be generated                                           |                                                                        |                      |                             |

<!-- affiliate ads begin -->
<a href="https://checkout.devart.com/order/checkout.php?PRODS=5023555&QTY=1&AFFILIATE=108875&CART=1"><img src="https://secure.avangate.com/images/merchant/45b430710ad04765a6afd58d9d9fafca/products/dotConnect_O.png" border="0">dotConnect for Oracle is an ADO.NET data provider for Oracle with Entity Framework Support.</a>
<!-- affiliate ads end -->
## [Pros and Cons:](https://tools.techidaily.com/wondershare/filmora/download/)

| **Pros**                                              | **Cons**                               |
| ----------------------------------------------------- | -------------------------------------- |
| Voice commands show amazing results                   | No RAW or WDR support for still images |
| Excellent video quality                               | Non-removable type battery             |
| Advanced Digital image stabilization feature included | GPS facility is not available          |
| Sensitive dual microphones are available              | No viewfinder                          |
| Waterproof (10m without case)                         | \-                                     |
| Compact size                                          | \-                                     |

<!-- affiliate ads begin -->
<a href="https://secure.2checkout.com/order/checkout.php?PRODS=11224199&QTY=1&AFFILIATE=108875&CART=1"><img src="https://secure.avangate.com/images/merchant/e09fdffe648a30658a9657bbed7b2388/products/copy_boxshot_lyricvideo.png" border="0">Lyric Video Creator Professional Version</a>
<!-- affiliate ads end -->
## [Complete Review](https://tools.techidaily.com/wondershare/filmora/download/)

#### [What is inside the Box?](https://tools.techidaily.com/wondershare/filmora/download/)

[If you are ready to buy GoPro Hero5 session Camera then you can expect following things with your device when you will unbox it:](https://tools.techidaily.com/wondershare/filmora/download/)

* [The box will have one standard frame.](https://tools.techidaily.com/wondershare/filmora/download/)
* [It comes with flat as well as curved adhesive mounts that allows users to capture scenes in all difficult locations.](https://tools.techidaily.com/wondershare/filmora/download/)
* [Mounting Buckle will be included.](https://tools.techidaily.com/wondershare/filmora/download/)
* [USB-C cable is added.](https://tools.techidaily.com/wondershare/filmora/download/)
* [Some video samples will be available.](https://tools.techidaily.com/wondershare/filmora/download/)

[Check at Amazon](https://www.amazon.com/gp/product/B01LZTLCFX/ref=as%5Fli%5Ftl?ie=UTF8&tag=vs-flora-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B01LZTLCFX&linkId=ea1830f57bf7ee4f930b77258f8b3654
)

#### Design and Accessories

 The highlights related to design and accessories can be presented as:

* 38mm or 1.5” cube shaped design helps users in obstructive mounting.
* This device provides impressive results when connected to GoPro Karma Drone.
* It is waterproof up to 10m or 33 feet.
* USB-C charging facility is available but battery is fixed.

 The GoPro camera units are well known for their well shaped rectangular design but this session camera was launched with attractive cube shape. With just a single easy to operate button you can easily start and stop recording whereas tiny LCD panel helps to view recording on the go. This structure is less complicated and users can even change settings to preferable mode from Android or iOS device.

#### Video and Photo Quality

 Few highlights are:

* It serves with 4K resolution for videos.
* This device is designed with total five fields of view where 3 of these are introductory.
* 10MP stills can be captured at 30fps frame rate.

 With all pretty features, GoPro Hero5 Session provides 4K resolutions at 30fps rate whereas this rate can be increased up to 90fps in case of 1080p recording. You will be glad to know about its advanced digital stabilization feature and the most exciting part is its vibration mode that gets automatically switched On when you are about the start the camera or when you switch recording Off. You can also switch off the vibrations at the time of video recording to capture much smoother details. Even if you want to capture videos while riding a cycle then also this camera can result in breathtaking view because it possesses advanced wind noise reduction ability.

 Users are excited about its several field of view modes that are: Medium, Wide, Narrow, Linear and Super view. You will be surprised to know that this small camera unit can record videos in super view mode so that you can avail extra wide coverage. One more appreciable feature is its low light video shooting mode that can provide satisfactory results with perfect video quality support.

#### Connectivity and Apps

 Some of the incredible connectivity options along with app supports are discussed as below:

 **Wi-Fi:**

 This latest camera from GoPro is designed to serve users with active Wi-Fi and Bluetooth support. Users can also connect it with iOS and Android device using GoPro Capture Application that activates remote control feature. With this type of connectivity you can also adjust camera settings directly from your phone that means a live view of camera screen will be generated on your mobile device.

 **GoPro Plus:**

 This name is given to a latest cloud based subscription of GoPro series so that users can publish their recorded videos directly on internet. Whenever you plug-in your Hero5 devices whether it is session or black, this cloud based application will allow you to access photo or video uploading facility instantly. It makes use of Home Wi-Fi network to enable this uploading. After this your footage will get stored on GoPro Plus account and it can be easily accessed from official website of GoPro. These uploaded videos will also be accessible on mobile devices as well as on desktop with the help of Quick application.

 **Quick:**

 This application is designed for Mobile as well as desktop users and allows fast as well as efficient editing features for all recorded videos. Users simply need to select highlights and then they can be easily edited to embed music into them or just to cut or trim to match certain timing requirements. The content that is stored on GoPro Account can also be accessed from quick App on portable devices.

**Note** that Users can also try GoPro Plus application for two months without making any payment as manufacturers have provided a free trial version whereas for complete feature access you need to pay $5 per month.

## The Bottom Line

 Some of you may say that GroPro Hero5 Session is not having all fancy features but it is one of the most widely purchases action camera unit in market. This is simply the best device at reasonable price range and the video as well as image quality is amazing. The cube shape of this device is really attractive with tiny body that you can carry anywhere with ease. It is time to order your Hero5 session device online and soon you will be able to record your all adventurous trips with awesome capture quality. The waterproof and damage proof construction is itself an edge over all competing devices.

<!-- affiliate ads begin -->
<a href="https://shop.systoolsgroup.com/affiliate.php?ACCOUNT=SYSTOOBY&AFFILIATE=108875&PATH=https%3A%2F%2Fwww.systoolsgroup.com%3FAFFILIATE%3D108875%26RESOURCE%3DSysTools%2BGmail%2BBackup"><img src="https://www.systoolsgroup.com/box/gmail-backup.png" border="0"></a>
<!-- affiliate ads end -->
![author avatar](https://images.wondershare.com/filmora/article-images/max-wales-author.jpg)

Max Wales

Max Wales is a writer and a lover of all things video.

Follow @Max Wales

##### Max Wales

 Mar 27, 2024• Proven solutions

 If you are in search of action cameras then [GoPro](https://tools.techidaily.com/wondershare/filmora/download/) is best brand for you. It offers high tech cameras with all amazing features and variable price ranges so you can easily find one that suits your needs. GoPro Hero5 Session camera is rated as one of the best devices with reasonable price range; so it is good to check few awesome details about this device.

 Want to know which GoPro to buy? Here is a [complete comparison >>](https://tools.techidaily.com/wondershare/filmora/download/)

**You may also like:** [Top 15 Best Action Cameras >>](https://tools.techidaily.com/wondershare/filmora/download/)

 It is a light weight, small size device with cube shape design that can shoot highly stabilized videos even with 4k resolution. With payment of $299.99, you can avail 4k recording abilities along 1080p at 90fps, 720p at 120fps. If this device is little above then your budget then you can also look for [GoPro Hero4 session](https://tools.techidaily.com/wondershare/filmora/download/) that is the previous version and will be priced $100 less than that of Hero5 session. If your budget is on higher side then prefer to buy [Hero5 Black](https://tools.techidaily.com/wondershare/filmora/download/) that is priced at $399.99 with all amazing features.

 See [Hero Session 5 VS Hero Session 4 >>.](https://tools.techidaily.com/wondershare/filmora/download/)

[For most of action camera lovers Hero5 session will be the best choice so below you will get some of the essential details about your favorite device:](https://tools.techidaily.com/wondershare/filmora/download/)

## [Specs Table:](https://tools.techidaily.com/wondershare/filmora/download/)

| **Product Name**                                                            | GoPro Hero5 Session                                                    |                      |                             |
| --------------------------------------------------------------------------- | ---------------------------------------------------------------------- | -------------------- | --------------------------- |
| **Manufacture**                                                             | GoPro (USA)                                                            |                      |                             |
| **Date available**                                                          | 2 October 2016                                                         |                      |                             |
| **Price:**                                                                  | Official:$299                                                          |                      |                             |
| **Basic Specification**                                                     |                                                                        |                      |                             |
| **Parameters**                                                              | **Details**                                                            | **Parameters**       | **Details**                 |
| **Weight**                                                                  | 73g only                                                               | **Shape**            | Box                         |
| **Memory**                                                                  | SDXC cards with 128GB storage and Micro SD (Class 10)                  | **Dimensions**       | 38x38x36mm                  |
| **Battery**                                                                 | 1000mAh (with 4K resolution it offers 1 hour 40 minute recording time) | **Waterproof**       | 10 meters (without housing) |
| **Image resolution**                                                        | Up to 10mp                                                             | **Video resolution** | Up to 4k at30fps            |
| **Display**                                                                 | No                                                                     | **Modes**            | WIFI and Bluetooth          |
| **Other Features**                                                          | Voice Control                                                          |                      |                             |
| Advanced Digital video stabilization                                        |                                                                        |                      |                             |
| Simple one-button type control                                              |                                                                        |                      |                             |
| ultra wide, Super view, narrow, medium as well as new linear field of views |                                                                        |                      |                             |
| Advanced reduction capability towards wind-noise                            |                                                                        |                      |                             |
| Auto image rotation facility                                                |                                                                        |                      |                             |
| Auto low-light mode available                                               |                                                                        |                      |                             |
| Time lapse video can be generated                                           |                                                                        |                      |                             |

## [Pros and Cons:](https://tools.techidaily.com/wondershare/filmora/download/)

| **Pros**                                              | **Cons**                               |
| ----------------------------------------------------- | -------------------------------------- |
| Voice commands show amazing results                   | No RAW or WDR support for still images |
| Excellent video quality                               | Non-removable type battery             |
| Advanced Digital image stabilization feature included | GPS facility is not available          |
| Sensitive dual microphones are available              | No viewfinder                          |
| Waterproof (10m without case)                         | \-                                     |
| Compact size                                          | \-                                     |

<!-- affiliate ads begin -->
<a href="https://store.absolute.com/order/checkout.php?PRODS=4601998&QTY=1&AFFILIATE=108875&CART=1"><img src="https://secure.avangate.com/images/merchant/ef70e26a0b5da778eda3f48014d087cd/728x90_larger-shield.jpg" border="0"></a>
<!-- affiliate ads end -->
## [Complete Review](https://tools.techidaily.com/wondershare/filmora/download/)

#### [What is inside the Box?](https://tools.techidaily.com/wondershare/filmora/download/)

[If you are ready to buy GoPro Hero5 session Camera then you can expect following things with your device when you will unbox it:](https://tools.techidaily.com/wondershare/filmora/download/)

* [The box will have one standard frame.](https://tools.techidaily.com/wondershare/filmora/download/)
* [It comes with flat as well as curved adhesive mounts that allows users to capture scenes in all difficult locations.](https://tools.techidaily.com/wondershare/filmora/download/)
* [Mounting Buckle will be included.](https://tools.techidaily.com/wondershare/filmora/download/)
* [USB-C cable is added.](https://tools.techidaily.com/wondershare/filmora/download/)
* [Some video samples will be available.](https://tools.techidaily.com/wondershare/filmora/download/)

[Check at Amazon](https://www.amazon.com/gp/product/B01LZTLCFX/ref=as%5Fli%5Ftl?ie=UTF8&tag=vs-flora-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B01LZTLCFX&linkId=ea1830f57bf7ee4f930b77258f8b3654
)

#### Design and Accessories

 The highlights related to design and accessories can be presented as:

* 38mm or 1.5” cube shaped design helps users in obstructive mounting.
* This device provides impressive results when connected to GoPro Karma Drone.
* It is waterproof up to 10m or 33 feet.
* USB-C charging facility is available but battery is fixed.

 The GoPro camera units are well known for their well shaped rectangular design but this session camera was launched with attractive cube shape. With just a single easy to operate button you can easily start and stop recording whereas tiny LCD panel helps to view recording on the go. This structure is less complicated and users can even change settings to preferable mode from Android or iOS device.

#### Video and Photo Quality

 Few highlights are:

* It serves with 4K resolution for videos.
* This device is designed with total five fields of view where 3 of these are introductory.
* 10MP stills can be captured at 30fps frame rate.

 With all pretty features, GoPro Hero5 Session provides 4K resolutions at 30fps rate whereas this rate can be increased up to 90fps in case of 1080p recording. You will be glad to know about its advanced digital stabilization feature and the most exciting part is its vibration mode that gets automatically switched On when you are about the start the camera or when you switch recording Off. You can also switch off the vibrations at the time of video recording to capture much smoother details. Even if you want to capture videos while riding a cycle then also this camera can result in breathtaking view because it possesses advanced wind noise reduction ability.

 Users are excited about its several field of view modes that are: Medium, Wide, Narrow, Linear and Super view. You will be surprised to know that this small camera unit can record videos in super view mode so that you can avail extra wide coverage. One more appreciable feature is its low light video shooting mode that can provide satisfactory results with perfect video quality support.

#### Connectivity and Apps

 Some of the incredible connectivity options along with app supports are discussed as below:

 **Wi-Fi:**

 This latest camera from GoPro is designed to serve users with active Wi-Fi and Bluetooth support. Users can also connect it with iOS and Android device using GoPro Capture Application that activates remote control feature. With this type of connectivity you can also adjust camera settings directly from your phone that means a live view of camera screen will be generated on your mobile device.

 **GoPro Plus:**

 This name is given to a latest cloud based subscription of GoPro series so that users can publish their recorded videos directly on internet. Whenever you plug-in your Hero5 devices whether it is session or black, this cloud based application will allow you to access photo or video uploading facility instantly. It makes use of Home Wi-Fi network to enable this uploading. After this your footage will get stored on GoPro Plus account and it can be easily accessed from official website of GoPro. These uploaded videos will also be accessible on mobile devices as well as on desktop with the help of Quick application.

 **Quick:**

 This application is designed for Mobile as well as desktop users and allows fast as well as efficient editing features for all recorded videos. Users simply need to select highlights and then they can be easily edited to embed music into them or just to cut or trim to match certain timing requirements. The content that is stored on GoPro Account can also be accessed from quick App on portable devices.

**Note** that Users can also try GoPro Plus application for two months without making any payment as manufacturers have provided a free trial version whereas for complete feature access you need to pay $5 per month.

## The Bottom Line

 Some of you may say that GroPro Hero5 Session is not having all fancy features but it is one of the most widely purchases action camera unit in market. This is simply the best device at reasonable price range and the video as well as image quality is amazing. The cube shape of this device is really attractive with tiny body that you can carry anywhere with ease. It is time to order your Hero5 session device online and soon you will be able to record your all adventurous trips with awesome capture quality. The waterproof and damage proof construction is itself an edge over all competing devices.

<!-- affiliate ads begin -->
<a href="https://purchase.swifdoo.com/order/checkout.php?PRODS=40002162&QTY=1&AFFILIATE=108875&CART=1"><img src="https://secure.avangate.com/images/merchant/8b932759a5a04ddb34bf79e3f9072e4b/products/1_Product%20box%20white-1024x1024.png" border="0">SwifDoo PDF Perpetual (1 PC) Free upgrade. No monthly fees ever. 
</a>
<!-- affiliate ads end -->
![author avatar](https://images.wondershare.com/filmora/article-images/max-wales-author.jpg)

Max Wales

Max Wales is a writer and a lover of all things video.

Follow @Max Wales

##### Max Wales

 Mar 27, 2024• Proven solutions

 If you are in search of action cameras then [GoPro](https://tools.techidaily.com/wondershare/filmora/download/) is best brand for you. It offers high tech cameras with all amazing features and variable price ranges so you can easily find one that suits your needs. GoPro Hero5 Session camera is rated as one of the best devices with reasonable price range; so it is good to check few awesome details about this device.

 Want to know which GoPro to buy? Here is a [complete comparison >>](https://tools.techidaily.com/wondershare/filmora/download/)

**You may also like:** [Top 15 Best Action Cameras >>](https://tools.techidaily.com/wondershare/filmora/download/)

 It is a light weight, small size device with cube shape design that can shoot highly stabilized videos even with 4k resolution. With payment of $299.99, you can avail 4k recording abilities along 1080p at 90fps, 720p at 120fps. If this device is little above then your budget then you can also look for [GoPro Hero4 session](https://tools.techidaily.com/wondershare/filmora/download/) that is the previous version and will be priced $100 less than that of Hero5 session. If your budget is on higher side then prefer to buy [Hero5 Black](https://tools.techidaily.com/wondershare/filmora/download/) that is priced at $399.99 with all amazing features.

 See [Hero Session 5 VS Hero Session 4 >>.](https://tools.techidaily.com/wondershare/filmora/download/)

[For most of action camera lovers Hero5 session will be the best choice so below you will get some of the essential details about your favorite device:](https://tools.techidaily.com/wondershare/filmora/download/)

## [Specs Table:](https://tools.techidaily.com/wondershare/filmora/download/)

| **Product Name**                                                            | GoPro Hero5 Session                                                    |                      |                             |
| --------------------------------------------------------------------------- | ---------------------------------------------------------------------- | -------------------- | --------------------------- |
| **Manufacture**                                                             | GoPro (USA)                                                            |                      |                             |
| **Date available**                                                          | 2 October 2016                                                         |                      |                             |
| **Price:**                                                                  | Official:$299                                                          |                      |                             |
| **Basic Specification**                                                     |                                                                        |                      |                             |
| **Parameters**                                                              | **Details**                                                            | **Parameters**       | **Details**                 |
| **Weight**                                                                  | 73g only                                                               | **Shape**            | Box                         |
| **Memory**                                                                  | SDXC cards with 128GB storage and Micro SD (Class 10)                  | **Dimensions**       | 38x38x36mm                  |
| **Battery**                                                                 | 1000mAh (with 4K resolution it offers 1 hour 40 minute recording time) | **Waterproof**       | 10 meters (without housing) |
| **Image resolution**                                                        | Up to 10mp                                                             | **Video resolution** | Up to 4k at30fps            |
| **Display**                                                                 | No                                                                     | **Modes**            | WIFI and Bluetooth          |
| **Other Features**                                                          | Voice Control                                                          |                      |                             |
| Advanced Digital video stabilization                                        |                                                                        |                      |                             |
| Simple one-button type control                                              |                                                                        |                      |                             |
| ultra wide, Super view, narrow, medium as well as new linear field of views |                                                                        |                      |                             |
| Advanced reduction capability towards wind-noise                            |                                                                        |                      |                             |
| Auto image rotation facility                                                |                                                                        |                      |                             |
| Auto low-light mode available                                               |                                                                        |                      |                             |
| Time lapse video can be generated                                           |                                                                        |                      |                             |

<!-- affiliate ads begin -->
<a href="https://thefitville.pxf.io/c/5597632/1526796/15852" target="_top" id="1526796"><img src="//a.impactradius-go.com/display-ad/15852-1526796" border="0" alt="" width="1200" height="628"/></a><img height="0" width="0" src="https://imp.pxf.io/i/5597632/1526796/15852" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->
## [Pros and Cons:](https://tools.techidaily.com/wondershare/filmora/download/)

| **Pros**                                              | **Cons**                               |
| ----------------------------------------------------- | -------------------------------------- |
| Voice commands show amazing results                   | No RAW or WDR support for still images |
| Excellent video quality                               | Non-removable type battery             |
| Advanced Digital image stabilization feature included | GPS facility is not available          |
| Sensitive dual microphones are available              | No viewfinder                          |
| Waterproof (10m without case)                         | \-                                     |
| Compact size                                          | \-                                     |

<!-- affiliate ads begin -->
<a href="https://secure.2checkout.com/order/checkout.php?PRODS=4726807&QTY=1&AFFILIATE=108875&CART=1"><img src="https://secure.avangate.com/images/merchant/c14a8df1e1b4d5297e9cb30cb34d5a00/products/copy_copy_power-tools-48.png" border="0">Power Tools add-on for Google Sheets, Lifetime subscription</a>
<!-- affiliate ads end -->
## [Complete Review](https://tools.techidaily.com/wondershare/filmora/download/)

#### [What is inside the Box?](https://tools.techidaily.com/wondershare/filmora/download/)

[If you are ready to buy GoPro Hero5 session Camera then you can expect following things with your device when you will unbox it:](https://tools.techidaily.com/wondershare/filmora/download/)

* [The box will have one standard frame.](https://tools.techidaily.com/wondershare/filmora/download/)
* [It comes with flat as well as curved adhesive mounts that allows users to capture scenes in all difficult locations.](https://tools.techidaily.com/wondershare/filmora/download/)
* [Mounting Buckle will be included.](https://tools.techidaily.com/wondershare/filmora/download/)
* [USB-C cable is added.](https://tools.techidaily.com/wondershare/filmora/download/)
* [Some video samples will be available.](https://tools.techidaily.com/wondershare/filmora/download/)

[Check at Amazon](https://www.amazon.com/gp/product/B01LZTLCFX/ref=as%5Fli%5Ftl?ie=UTF8&tag=vs-flora-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B01LZTLCFX&linkId=ea1830f57bf7ee4f930b77258f8b3654
)

#### Design and Accessories

 The highlights related to design and accessories can be presented as:

* 38mm or 1.5” cube shaped design helps users in obstructive mounting.
* This device provides impressive results when connected to GoPro Karma Drone.
* It is waterproof up to 10m or 33 feet.
* USB-C charging facility is available but battery is fixed.

 The GoPro camera units are well known for their well shaped rectangular design but this session camera was launched with attractive cube shape. With just a single easy to operate button you can easily start and stop recording whereas tiny LCD panel helps to view recording on the go. This structure is less complicated and users can even change settings to preferable mode from Android or iOS device.

#### Video and Photo Quality

 Few highlights are:

* It serves with 4K resolution for videos.
* This device is designed with total five fields of view where 3 of these are introductory.
* 10MP stills can be captured at 30fps frame rate.

 With all pretty features, GoPro Hero5 Session provides 4K resolutions at 30fps rate whereas this rate can be increased up to 90fps in case of 1080p recording. You will be glad to know about its advanced digital stabilization feature and the most exciting part is its vibration mode that gets automatically switched On when you are about the start the camera or when you switch recording Off. You can also switch off the vibrations at the time of video recording to capture much smoother details. Even if you want to capture videos while riding a cycle then also this camera can result in breathtaking view because it possesses advanced wind noise reduction ability.

 Users are excited about its several field of view modes that are: Medium, Wide, Narrow, Linear and Super view. You will be surprised to know that this small camera unit can record videos in super view mode so that you can avail extra wide coverage. One more appreciable feature is its low light video shooting mode that can provide satisfactory results with perfect video quality support.

#### Connectivity and Apps

 Some of the incredible connectivity options along with app supports are discussed as below:

 **Wi-Fi:**

 This latest camera from GoPro is designed to serve users with active Wi-Fi and Bluetooth support. Users can also connect it with iOS and Android device using GoPro Capture Application that activates remote control feature. With this type of connectivity you can also adjust camera settings directly from your phone that means a live view of camera screen will be generated on your mobile device.

 **GoPro Plus:**

 This name is given to a latest cloud based subscription of GoPro series so that users can publish their recorded videos directly on internet. Whenever you plug-in your Hero5 devices whether it is session or black, this cloud based application will allow you to access photo or video uploading facility instantly. It makes use of Home Wi-Fi network to enable this uploading. After this your footage will get stored on GoPro Plus account and it can be easily accessed from official website of GoPro. These uploaded videos will also be accessible on mobile devices as well as on desktop with the help of Quick application.

 **Quick:**

 This application is designed for Mobile as well as desktop users and allows fast as well as efficient editing features for all recorded videos. Users simply need to select highlights and then they can be easily edited to embed music into them or just to cut or trim to match certain timing requirements. The content that is stored on GoPro Account can also be accessed from quick App on portable devices.

**Note** that Users can also try GoPro Plus application for two months without making any payment as manufacturers have provided a free trial version whereas for complete feature access you need to pay $5 per month.

## The Bottom Line

 Some of you may say that GroPro Hero5 Session is not having all fancy features but it is one of the most widely purchases action camera unit in market. This is simply the best device at reasonable price range and the video as well as image quality is amazing. The cube shape of this device is really attractive with tiny body that you can carry anywhere with ease. It is time to order your Hero5 session device online and soon you will be able to record your all adventurous trips with awesome capture quality. The waterproof and damage proof construction is itself an edge over all competing devices.

<!-- affiliate ads begin -->
<a href="https://secure.2checkout.com/order/checkout.php?PRODS=4530091&QTY=1&AFFILIATE=108875&CART=1"><img src="https://www.pearlmountainsoft.com/n_img/product/cit_win/banScrn.jpg" border="0">CollageIt Pro</a>
<!-- affiliate ads end -->
![author avatar](https://images.wondershare.com/filmora/article-images/max-wales-author.jpg)

Max Wales

Max Wales is a writer and a lover of all things video.

Follow @Max Wales

<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="1223367746"></ins>

<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="1223367746"></ins>



<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="8358498916"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>





<span class="atpl-alsoreadstyle">Also read:</span>
<div><ul>
<li><a href="https://extra-information.techidaily.com/new-10-high-quality-camera-gimbals-iphoneandroiddslr-reconnaissance/"><u>[New] 10 High-Quality Camera Gimbals  IPhone/Android/DSLR Reconnaissance</u></a></li>
<li><a href="https://extra-information.techidaily.com/new-asmr-quality-meets-economic-realities/"><u>[New] ASMR Quality Meets Economic Realities</u></a></li>
<li><a href="https://screen-sharing-recording.techidaily.com/new-in-2024-advanced-techniques-for-educators-lecture-capture-on-mac/"><u>[New] In 2024, Advanced Techniques for Educator's Lecture Capture on Mac</u></a></li>
<li><a href="https://facebook-video-share.techidaily.com/new-the-ultimate-roadmap-to-mastering-your-youtube-video-editing-skills/"><u>[New] The Ultimate Roadmap to Mastering Your YouTube Video Editing Skills</u></a></li>
<li><a href="https://instagram-video-recordings.techidaily.com/updated-2024-approved-captivating-clips-transforming-footage-vertically-in-final-cut-x/"><u>[Updated] 2024 Approved  Captivating Clips  Transforming Footage Vertically in Final Cut X</u></a></li>
<li><a href="https://extra-information.techidaily.com/updated-assessing-hdr-standards-luminances-role/"><u>[Updated] Assessing HDR Standards  Luminance's Role</u></a></li>
<li><a href="https://extra-information.techidaily.com/updated-assessing-the-video-capacity-of-64gb-drives/"><u>[Updated] Assessing the Video Capacity of 64Gb Drives</u></a></li>
<li><a href="https://fox-links.techidaily.com/updated-how-to-make-the-most-out-of-spotifys-advertising-features-for-2024/"><u>[Updated] How to Make the Most Out of Spotify's Advertising Features for 2024</u></a></li>
<li><a href="https://eaxpv-info.techidaily.com/updated-how-to-post-youtube-videos-as-instagram-stories-for-2024/"><u>[Updated] How to Post YouTube Videos as Instagram Stories for 2024</u></a></li>
<li><a href="https://screen-sharing-recording.techidaily.com/updated-in-2024-elevate-your-streams-from-obs-to-fb-directly/"><u>[Updated] In 2024, Elevate Your Streams  From OBS to FB Directly</u></a></li>
<li><a href="https://youtube-blog.techidaily.com/ed-in-2024-step-by-step-legally-convert-youtube-to-mp4-format/"><u>[Updated] In 2024, Step-by-Step  Legally Convert YouTube to MP4 Format</u></a></li>
<li><a href="https://fox-cloud.techidaily.com/updated-premier-paint-shop-pro-tricks/"><u>[Updated] Premier Paint Shop Pro Tricks</u></a></li>
<li><a href="https://desktop-recording.techidaily.com/updated-the-insiders-secrets-of-screencastify-recording/"><u>[Updated] The Insider’s Secrets of Screencastify Recording</u></a></li>
<li><a href="https://extra-information.techidaily.com/2024-approved-10-chat-and-quest-in-the-virtual-society/"><u>2024 Approved  10 Chat & Quest in the Virtual Society</u></a></li>
<li><a href="https://extra-information.techidaily.com/2024-approved-a-look-into-magix-graphic-designer/"><u>2024 Approved  A Look Into MAGIX Graphic Designer</u></a></li>
<li><a href="https://extra-information.techidaily.com/2024-approved-cadences-and-crescendos-your-ringtone-repository-guide/"><u>2024 Approved  Cadences and Crescendos  Your Ringtone Repository Guide</u></a></li>
<li><a href="https://on-screen-recording.techidaily.com/2024-approved-camstudio-recording-tech-a-comprehensive-2023-analysis/"><u>2024 Approved  CamStudio Recording Tech  A Comprehensive 2023 Analysis</u></a></li>
<li><a href="https://extra-information.techidaily.com/2024-approved-chorus-companion-selecting-scores-for-clips/"><u>2024 Approved  Chorus Companion  Selecting Scores for Clips</u></a></li>
<li><a href="https://fox-info.techidaily.com/2024-approved-how-to-download-and-use-ifunny-meme-app/"><u>2024 Approved  How to Download and Use iFunny Meme App</u></a></li>
<li><a href="https://instagram-video-files.techidaily.com/2024-approved-socialites-secret-accelerate-your-fame-on-insta-with-our-top-15-hacks/"><u>2024 Approved  Socialite's Secret  Accelerate Your Fame on Insta with Our Top 15 Hacks</u></a></li>
<li><a href="https://extra-information.techidaily.com/8-best-free-mp3-downloader-for-android/"><u>8 Best Free MP3 Downloader for Android</u></a></li>
<li><a href="https://extra-information.techidaily.com/break-the-monotony-with-these-6-captivating-videos-for-2024/"><u>Break the Monotony with These 6 Captivating Videos for 2024</u></a></li>
<li><a href="https://extra-information.techidaily.com/changing-ringtones-on-an-iphone-a-user-friendly-approach/"><u>Changing Ringtones on an iPhone  A User-Friendly Approach</u></a></li>
<li><a href="https://extra-information.techidaily.com/chromatic-soundscapes-selecting-the-right-tune-for-2024/"><u>Chromatic Soundscapes  Selecting the Right Tune for 2024</u></a></li>
<li><a href="https://driver-install.techidaily.com/enhance-and-optimize-performance-newly-installed-gb-board/"><u>Enhance & Optimize Performance - Newly Installed GB Board</u></a></li>
<li><a href="https://extra-information.techidaily.com/enhance-visual-stories-utilizing-storyremix-in-windows-11-video-editing/"><u>Enhance Visual Stories  Utilizing StoryRemix in Windows 11 Video Editing</u></a></li>
<li><a href="https://extra-information.techidaily.com/enhancing-engagement-onestream-streaming-best-practices/"><u>Enhancing Engagement  OneStream Streaming Best Practices</u></a></li>
<li><a href="https://extra-information.techidaily.com/how-to-record-professional-audio-in-audacity/"><u>How To Record Professional Audio In Audacity</u></a></li>
<li><a href="https://android-location-track.techidaily.com/how-to-turn-off-google-location-to-stop-tracking-you-on-samsung-galaxy-a34-5g-drfone-by-drfone-virtual-android/"><u>How to Turn Off Google Location to Stop Tracking You on Samsung Galaxy A34 5G | Dr.fone</u></a></li>
<li><a href="https://extra-information.techidaily.com/luminance-levels-top-3-ways-to-revive-your-photos-vibrancy/"><u>Luminance Levels  Top 3 Ways to Revive Your Photo's Vibrancy</u></a></li>
<li><a href="https://extra-information.techidaily.com/mastering-the-art-of-effortless-nft-design/"><u>Mastering the Art of Effortless NFT Design</u></a></li>
<li><a href="https://extra-approaches.techidaily.com/maximize-iphone-visual-capture-selective-photo-and-video-tools-for-2024/"><u>Maximize iPhone Visual Capture  Selective Photo & Video Tools for 2024</u></a></li>
<li><a href="https://extra-lessons.techidaily.com/perfecting-your-srt-craft-a-compreran-guide-to-tips-and-tricks/"><u>Perfecting Your SRT Craft  A Compreran Guide to Tips & Tricks</u></a></li>
<li><a href="https://extra-information.techidaily.com/the-ultimate-guide-to-utilizing-google-photos/"><u>The Ultimate Guide to Utilizing Google Photos</u></a></li>
<li><a href="https://extra-information.techidaily.com/top-10-uplifting-films-for-boosting-your-drive/"><u>Top 10 Uplifting Films for Boosting Your Drive</u></a></li>
<li><a href="https://extra-information.techidaily.com/unleash-creative-freedom-crafting-your-own-insta-tones/"><u>Unleash Creative Freedom  Crafting Your Own Insta Tones</u></a></li>
<li><a href="https://extra-information.techidaily.com/unlocking-obs-potential-incorporating-luts-seamlessly/"><u>Unlocking OBS' Potential  Incorporating LUTs Seamlessly</u></a></li>
</ul></div>
